body,h1,h2,h3,h4,h5,h6,a {font-family: "Inconsolata", sans-serif;}
body, html {
  min-height: 100%;
  color: #777;
  line-height: 1.8;
  text-align: center;
  margin: 0 auto;
  position: relative;
}

#header {
  padding: 3rem 5rem;
  margin: 0 auto;
}

a {
  border-bottom: 0x #777;
  text-decoration: none;
}

button {
  border: none;
  padding: 0;
  color: #777;
  float: right;
}

.intro {
  font-weight: bold;
}

iframe {
  border-color: #777;
  border-radius: 10px;
  margin: 2rem;
  min-height: 250px;
}

input {
  min-width: 200px;
}

.chat-container {
  text-align: left;
  padding: 0 1rem 0 1rem;
}

.msg-input {
  margin-bottom: 1rem;
}

footer {
  position: absolute;
  text-align: center;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
}
