body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
    text-align: center;
}

#container {
  margin: 0 auto;
  text-align: center;
}

.fa-plus-circle {
  float: right;
}

button {
  border: none;
  padding: 0;
  color: #777;
}

.intro {
  font-weight: bold;
}

iframe {
  border-color: #777;
  border-radius: 10px;
  margin: 2rem;
  min-height: 250px;
}

.chat-container {
  text-align: left;
  padding: 1rem;
}